body{
    background-color: rgb(250, 191, 29);
}
.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: rgb(5, 5, 5);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 50px rgba(5, 5, 5,0.5);
}
span{
    display: block;
    font-size: 100px;
    text-align: center;
}
p{
    font-size: 16px;
    color: aliceblue;
    font-weight: 400;
    text-align: center;
    line-height: 35px;
    word-wrap: break-word;
    margin: 30px 0;
}
button{
    display: block;
    color: black;
    background-color: rgb(205, 148, 15);
    padding: 5px;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
}